/* Stylesheet */

html {
	position: relative;
	min-height: 100%;
}

/* Header styles */

header {	
	width: 100vw;
	height: 50px;
	background-color: #330902;
	position: fixed;
	top: 0px;
	z-index: 50;
	margin: auto;
	padding: 10px 0;
}

header h1 {
	color: #fff;
	font-size: 2.4em;
	margin: 4px 0px 0px 7.5vw;
	display: inline-block;
}

body {
	font-family: Arial, Helvetica, Times;
}
/* Header search bar */

#searchField {
	display: inline-block;
	float: right;	
	margin: 12px 8vw 0px 0px;
}

#searchField .submitBtn {
	background-color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #844e46), color-stop(50%, #330902));
	color: #fff;
	border-radius: 3px;
	height: 27px;
	border-color: #fff;
}

#searchInput {
	border-radius: 3px;
	height: 20px;
	margin-left: 10px;
	width: 235px;
	background-color: #966661;
	color: #fff;
	border-color: #fff;
}

/* Button styles*/
/* Placeholder color change to work in seperate browsers */

*::-webkit-input-placeholder {
    color: #fff;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #fff;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

input:focus {
	outline: 0;
}

/* Background/Content container*/

.container {
	margin-top: 70px;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #000;
	position: fixed;
	background-image: url("../images/background2.jpeg");
	background-size: 100% 100%;
}

/* Events content container */

.initial {
	background-color: #330902;
	border-radius: 10px;
	width: 310px;
	color: #fdd308;
	font-size: 1.6em;
	padding: 15px;
	margin: 150px auto;
}


.contentContainer {
	background-color: #330902;
	width: 50vw;
	height: 83.5vh;
	display: inline-block;
	margin: 0px 2px 0px 8vw;
	border-radius: 5px;
	overflow: auto;
	position: relative;
	color: #afafaf;
}

/* Spotify Buttons/Event headings */

.contentContainer button {
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #844e46), color-stop(50%, #330902));
	color: #fff;
	border-radius: 3px;
	height: 27px;
	border-color:  #afafaf;
	overflow: hidden;
}

button:hover {
	border-color:  #fdd308;
}

button:active {
	border-color: #fff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(50%, ##844e46));
	color: #afafaf;	
}

button:focus {
	outline: 0;
}

.contentContainer h2 {
	font-size: 1.4em;
	color: #fdd308;
}

.contentContainer h3 {
	font-size: 1.4em;
	color: #fdd308;
}

.events {
	margin: 25px 20px;
}

/* Scrollbar styles */

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #330902;
}

::-webkit-scrollbar-thumb
{
  background: #fdd308;
}

/* Google Maps sidebar */

.sidebar {
	background-color: #330902;
	width: 30vw;
	height: 55vh;
	float: right;
	display: inline-block;
	margin: 0px 8vw 0px 2px;
	border-radius: 5px;
	overflow: auto;
	position: relative;
	color: #afafaf;
}


#map{
	height: 100%;
	width: 100%;
}

/* Popular search bottom sidebar */

.popSearch {
	width: 30vw;
	height: 25.5vh;
	display: inline-block;
	border-radius: 5px;
	background-color: #330902;
	top: -26%;
	position: relative;
	float: right;
	margin: 0px 8vw 0px 2px;
	color: #fff;
}

/* Footer styles*/

footer {
	height: 50px;
	width: 100vw;
	background-color: #330902;
	bottom: 0;
	position: fixed;
	z-index: 50;
}

footer p {
	text-align: center;
	font-size: .9em;
	color: #fff;
	margin-top: 17px;
	margin-bottom: auto;
}
