/* Stylesheet */

html {
	position: relative;
	min-height: 100%;
}

/* Initial start page */
.homeContainer {
	height: 100vh;
	width: 100vw;
	background-color: #000;
	overflow: hidden;
}

.styleBackground {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	margin: auto auto;
	background-image: url("../images/openBackground.jpeg");
	background-size: 600px 600px;
	background-color: #fff;
}

#openSearch .submitBtn {
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f6f6f), color-stop(50%,#000));
	color: #fff;
	border-radius: 3px;
	height: 25px;
	display: inline-block;
	margin: 50% 0 50% 15%;
	width: 100px;
	font-size: 1.5em;
	height: 50px;
}

#openSearch #searchBtn {
	margin: 50% 0 50% 10px;
	height: 35px;
	width: 300px;
	font-size: 1.3em;
}

/* Homepage */
header {	
	width: 100vw;
	height: 50px;
	background-color: #000;
	position: fixed;
	top: 0px;
	z-index: 50;
	margin: auto;
	padding: 10px 0;
}

header h1 {
	color: #fff;
	font-size: 2.4em;
	margin: 4px 0px 0px 7.5vw;
	display: inline-block;
}

#searchField {
	display: inline-block;
	float: right;	
	margin: 15px 8vw 0px 0px;
}

#searchField .submitBtn {
	background-color: #fff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f6f6f), color-stop(50%,#000));
	color: #fff;
	border-radius: 3px;
	height: 25px;
}

#searchInput {
	border-radius: 3px;
	height: 20px;
	margin-left: 10px;
	width: 235px;
}

.background {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
}

.container {
	margin-top: 70px;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #000;
	opacity: .85;
	position: fixed;
}

.contentContainer {
	background-color: #bbbbbb;
	width: 60vw;
	height: 83vh;
	display: inline-block;
	margin: 0px 2px 0px 8vw;
	clear: both;
	border-radius: 5px;
	overflow: auto;
}

.sidebar {
	background-color: #bbbbbb;
	width: 20vw;
	height: 50vh;
	float: right;
	display: inline-block;
	margin: 0px 8vw 0px 2px;
	clear: both;
	border-radius: 5px;
	overflow: auto;
}

.events {
	margin: 25px 20px;
}

footer {
	height: 50px;
	width: 100vw;
	background-color: #000;
	bottom: 0;
	position: fixed;
	z-index: 50;
}

footer p {
	text-align: center;
	font-size: .9em;
	color: #fff;
	margin-top: 20px;
}
#map{
	height:500px;
	width: 500px;
	background-color: red;
}


